@charset "UTF-8";
/* styles.css */
body {
  background-color: #F9F9F9;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Убираем проблемы с размерами элементов */
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем внутренние отступы по умолчанию */
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "inter";
}

.container {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  padding-bottom: 100px;
}

.cards {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}

.card.open {
  background-color: #FAD6D6;
  color: #3A3A3A;
  text-decoration: none;
  border: 1px solid #1F355A;
  cursor: pointer;
}

.card.locked {
  background-color: #F9F9F9;
  color: #1F355A;
  border: 1px solid #1F355A;
  cursor: not-allowed;
  position: relative;
  text-decoration: none;
}

.card.open:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

/* Таймер */
.timer {
  margin-top: 15px;
  font-size: 14px;
  border: 1px solid #1F355A;
  padding: 15px 20px;
  width: 100%;
  border-radius: 1000px;
  color: #555;
}

.music-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  border: 1px solid #1F355A;
  padding: 15px 50px;
  border-radius: 1000px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}

.music-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.card a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Наследуем цвет текста */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}